In [4]:
import pandas as pd
data={'height':[2,6,3,6,7,5],
     'weight':[20,49,50,60,35,50],
     'age':[20,21,22,33,25,25],
      'color':['red','yellow','blue','green','purple','black']}
df=pd.DataFrame(data)
print(df)

   height  weight  age   color
0       2      20   20     red
1       6      49   21  yellow
2       3      50   22    blue
3       6      60   33   green
4       7      35   25  purple
5       5      50   25   black

In [5]:
df.isna()

   height  weight    age  color
0   False   False  False  False
1   False   False  False  False
2   False   False  False  False
3   False   False  False  False
4   False   False  False  False
5   False   False  False  False

In [7]:
df.dropna(axis=0).isnull().sum()

height    0
weight    0
age       0
color     0
dtype: int64